// Global style definitions

// 1 - Font weights
$x-light-fw: 200;
$light-fw: 300;
$regular-fw: 400;
$semi-bold-fw: 600;
$bold-fw: 700;
$x-bold-fw: 800;
$black-fw: 900;

// 2 - Font sizes
$regular-fs: 16px;
$medium-fs: 18px;
$large-fs: 48px;

// 3 - Colors
$white: #ffffff;
$tasman-gray: #d8dcd6;
$jet-black: #343434;

$blood-red: #8a0707;
$golden-yellow: #ffdf00;
$neon-green: #39ff14;
